.box {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 2rem;
}
.closeBtn {
  display: flex;
  justify-content: flex-end;
}
.row {
  display: flex;
  align-items: center;
}
.name {
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.col-25 {
  float: left;
  width: 28.5%;
  margin-top: 6px;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.col-75 {
  float: left;
  width: 71.5%;
  margin-top: 6px;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}
.box label {
  margin: 0.5rem;
}
.box input {
  height: 2rem;
  margin: 0.5rem;
}
.footer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit {
  border-radius: 4px;
  color: rgba(25, 25, 25, 0.87);
  border: 1px solid #000;
  background: var(--color-button2);
  color: #fff;
  font-weight: 600;
  padding: 0.5rem 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit:hover {
  transform: scale(1.1);
}
