/* .list {
  margin: 1rem 0;
} */

.productList {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.infoText {
  margin: auto;
}
