.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productList > * {
  flex: 0 0 calc(50% - 10px); /* 아이템의 너비를 반으로 설정, 마진을 고려하여 계산 */
  margin-bottom: 1.4rem;
}

.pagination {
  margin: 0 auto;
}
