.reviewCard {
  border: 1px solid #75786c;
  border-radius: 10px;
  width: 280px;
  height: 260px;
  /* flex-shrink: 0; */
  overflow: hidden;
  margin: 1rem;
  padding: 1rem;
}
.reviewContents {
  font-size: 20px;
}
.reviewContents span {
  font-size: 1rem;
}
.userName {
  font-weight: bold;
  margin-bottom: 8px;
}

.details {
  margin-bottom: 1rem;
  font-style: italic;
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
  color: #75786c;
}

.content {
  margin: 1rem;
}
