.card {
  margin: 1rem;
  padding-left: 2rem;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
}
.img {
  width: 100px;
  height: 100px;
  margin-left: 1rem;
  border: 1px solid var(--color-main);
}
.img img {
  width: 100%;
  height: 100%;
}

.middle {
  flex: 2;
}
.middle a {
  color: green;
  font-weight: 700;
}
.date {
  color: darkgray;
}

.right {
  display: flex;
  flex-direction: column;
}

.reviewContainer {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.right button {
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 4px;

  font-weight: 600;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 6rem;
  height: 2rem;
}
.reviewBtn:hover {
  transform: scale(1.1);
}

.btn1 {
  background-color: #e2e4d4;
  color: var(--color-button2);
}
.btn2 {
  background-color: var(--color-button2);
  color: #e2e4d4;
}
.state {
  background-color: #f0eea3;
}
.COMPLETED {
  background-color: #ffa985;
}
.reviewBtn {
  cursor: pointer;
  transition: all 0.3s ease;
}
