.section {
  margin: 1rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 90%;
}
.left {
  margin: 1rem;
  border: 1px solid #ddf1cf;
  border-radius: 8px;
  padding: 1rem;
}
.paragraph {
  white-space: pre-wrap;
}
.img {
  border: 1px solid #ddf1cf;
  border-radius: 8px;
  width: 130px;
  height: 130px;
  margin: 1rem;
  padding: 1rem;
}
