.farmer-card {
  background-color: #fefcf4;
  border: 5px solid #75786c;
  border-radius: 10px;
  width: 300px;
  height: 430px;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  display: flex;
  position: relative;
  flex-shrink: 0;
  font-weight: 500;
  margin: 22px;
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.image-container {
  margin-top: 16px;
  margin-bottom: 0px;
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #75786c;
  object-fit: fill;
  overflow: hidden;
}

.info {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

.farmname,
.farmaddress,
.category {
  /* font-size: 20px; */
  font-size: 1.1rem;
  /* font-weight: 500; */
}
.card-details {
  margin-top: 1rem;
  width: 225px;
}
.farmaddress {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.category {
  /* margin-bottom: 42px; */
  word-wrap: break-word;
}
.detail {
  display: inline-block;
  background-color: #2b331d;
  color: #ffffff;
  border: none;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 0px;
}
.details {
  color: #ffffff;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지를 container에 맞게 조정 */
}
