.reviewList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.reviewTitle {
    /* text-align: left; */
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}
.all {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.all > * {
    margin: 15px;
}
