.reviewCard {
    border: 1px solid #75786c;
    border-radius: 10px;
    width: 360px;
    height: 260px;
    background-color: #fefcf4;
    /* flex-shrink: 0; */
    font-size: 20px;
    overflow: hidden;
}
.reviewContents {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 26px;
    font-size: 20px;
}

.nickname {
    font-weight: bold;
    margin-bottom: 8px;
}

.details {
    margin-top: 4px;
    line-height: normal;
    margin-bottom: 55px;
}

.date,
.farmName,
.itemName,
.quantity {
    margin-right: 10px;
}
.content {
    margin-bottom: 28px;
}
