.compleate-detail-form {
  width: 700px;
  /* height: 700px; */
  margin: 100px auto;

  border-radius: 10px;
  border: 5px solid #75786c;
  background: #fefcf4;

  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.compleate-detail-form-header {
  text-align: center;
}

.compleate-detail-form-header span {
  color: #aca4a4;
  font-size: 16px;
  font-weight: 400;
}

hr {
  width: 80%;
}

.info {
  width: 70%;
  margin: 0 auto;

  /* display: flex; */
}

.info p {
  display: flex;
  justify-content: space-between;
}

.compleate-detail-form-btns {
  display: flex;
  justify-content: center;
}

.compleate-detail-form-btn {
  width: 200px;
  height: 40px;
  margin: 25px;

  border-radius: 5px;

  background: #49680d;
  color: rgba(255, 255, 255, 0.87);
  font-size: 20px;
}

.compleate-detail-form-notice {
  text-align: center;

  color: #a4a3a3;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0, 0, 0); */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefcf4;
  margin: 15% auto;
  padding: 2rem;
  border: 1px solid #888;
  border-radius: 20px;
  font-size: 1rem;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 45px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}
.header {
  text-align: center;
  font-weight: 800;
}
.flexContainer {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.flexContainer p {
  padding: 0.5rem;
}
.modal-content select {
  font-size: 1.3rem;
  padding: 0.4rem;
  width: 17rem;
}
.flexContainer input[type='text'] {
  height: 35px;
  font-size: 1.3rem;
  padding: 0.3rem;
  width: 15rem;
  box-sizing: border-box;
}

.button {
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--color-button2);
  color: #e2e4d4;
  width: 150px;
  margin: 2rem auto 0;
}