.farmercardlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 940px;
  margin: auto;
}
.upIcon {
  display: flex;
  justify-content: end;
  padding: 3rem;
  cursor: pointer;
}
