.nav-container {
  padding-top: 2rem;
  width: 235px;
}
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 235px;
  border-right: 0.5px solid black;
  height: 100%;
  overflow: auto;
  position: fixed;
}
.list li {
  font-size: 1.1rem;
  padding: 1rem;
  display: block;
  align-items: center;
}

.list a {
  text-decoration: none;
  padding: 1rem;
  color: var(--color-main);
}

.list a:hover,
.list a.active {
  font-size: large;
  height: inherit;
  border-radius: 8px;
  background: var(--color-highlight);
  /* text-decoration: underline; */
}
