.nav-container {
  padding-top: 2rem;
  width: 238px;
}
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 238px;
  /* border-right: 0.5px solid rgb(223, 221, 221); */
  height: 100%;
  overflow: auto;
  position: fixed;
}
.list li {
  font-size: 1.1rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.list a {
  width: -webkit-fill-available;
  padding: 1rem;
  color: var(--color-main);
}

.list a:hover {
  font-size: large;
  font-weight: bold;
}
.list a.active {
  font-size: large;
  height: inherit;
  border-radius: 8px;
  background: var(--color-highlight);
  font-weight: bold;
}
