.container {
  width: 80%;
  border-radius: 10px;
  border: 5px solid #75786c;
  margin: 8rem auto;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
}
/* .main {
  /* display: block; */

.header {
  display: flex;

  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.farmerInfoCard {
  width: 90%;
  height: 316px;
  flex-shrink: 0;
  background: #e2e4d4;
  justify-content: center;
}
.backBtn {
  margin-right: 15px;
  margin-top: 21px;
  float: right;
  border: 0;
  background-color: #e2e4d4;
  cursor: pointer;
}
.farmEdit {
  width: 130px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #000;
  background: #e2e4d4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  color: #1b1c18;
  font-size: 18px;
  text-align: center;
  line-height: normal;
}
.info {
  font-size: 16px;
  /* display: flex;
  justify-content: flex-start; */
  width: 200px;
  height: 30px;
}
/* .heartinfo {
  width: 75px;
  height: 30px;
} */
.leftSection {
  float: left;
  margin-left: 64px;
  margin-top: 35px;
}
.imageContainer {
  margin-bottom: 1rem;
  border: 3px solid #75786c;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: fill;
  overflow: hidden;
}
.imageContainer img {
  object-fit: fill;
}

.farmDetails {
  display: flex;
  flex-direction: column;
  float: left;
  color: #000000;
  margin-left: 5px;
  margin-top: 62px;
  line-height: normal;
}

.farmName,
.farmerName,
.farmAddress {
  /* margin: 10px; */
  height: 36px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin-right: 55px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.farmNameData,
.farmerNameData,
.farmAddressData {
  margin-top: 11px;
  margin-bottom: 11px;
  height: 34px;
  font-size: 28px;
  font-weight: 500;
}

.flexContainer {
  height: 150px;
  display: flex;
}
