.container {
  width: 70%;
  border-radius: 10px;
  border: 5px solid #75786c;
  margin: 8rem auto;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 1rem;
}
.farmerInfoCard {
  width: 90%;
  flex-shrink: 0;
  background: #e2e4d4;
  justify-content: center;
  border-radius: 10px;
}
.backBtn {
  margin-right: 15px;
  margin-top: 21px;
  float: right;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.farmEdit {
  width: 130px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #000;
  background: #e2e4d4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  color: #1b1c18;
  font-size: 18px;
  text-align: center;
  line-height: normal;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.follow {
  transition: all 0.3s ease-in-out;
}
.follow:hover {
  transform: scale(1.2);
}
.flexbox {
  display: flex;
  flex-direction: row;
  padding: 3rem 4rem;
  gap: 5rem;
}
.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageContainer {
  margin-bottom: 1rem;
  border: 3px solid #75786c;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: fill;
  overflow: hidden;
}
.imageContainer img {
  object-fit: fill;
}

.farmDetails {
  display: flex;
  flex-direction: column;
  color: #2c2a2a;
  padding: 3rem 0 2rem;
}

.name {
  height: 36px;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem;
}

.value {
  font-size: 1.8rem;
  font-weight: 700;
}
