.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 80px);
  margin-top: 80px;
  padding: 60px 0;
  font-size: 20px;
}

.wrap-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 370px;
}

.title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 30px;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

.input > label {
  color: #191919;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 600;
}

.input > input {
  height: 56px;
  padding: 0 10px;
  font-size: 1rem;
  width: 370px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #ACACA9;
  background-color: transparent;
  color: #191919;
  outline: none;
}

.input > input:first-of-type {
  margin-bottom: 10px;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  width: 370px;
}

.btns > button {
  width: 130px;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.find-btn {
  color: #ffffff;
  border: 1px solid #49680D;
  background-color: #49680D;
}

.cancel-btn {
  color: #191919;
  background-color: transparent;
  border: 1px solid #2B331D;
}