.wrap {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../../../assets/login-bg.png');
  min-height: calc(100vh - 80px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-blend-mode: darken;
  margin-top: 80px;
  padding: 60px 0;
  font-size: 20px;
}

.wrap-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 370px;
}

.text-group {
  width: 370px;
  color: #C4C7CC;
  margin-bottom: 40px;
}

.text-group > div:first-of-type {
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 30px;
}

.text-group > div:last-of-type {
  margin-top: 10px;
}

.kakao-naver {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  font-weight: 600;
}

.kakao-naver > a {
  height: 56px;
  width: 370px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kakao-naver > a:first-of-type {
  color: #191919;
  background-color: #FEE500;
  border: 1px solid #FEE500;
  margin-bottom: 12px;
  
}

.kakao-naver > a:first-of-type:visited {
  color: #191919;
}

.kakao-naver > a:first-of-type > img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.kakao-naver > a:last-of-type {
  color: #ffffff;
  background-color: #03C75A;
  border: 1px solid #03C75A;
}

.kakao-naver > a:last-of-type:visited {
  color: #ffffff;
}

.kakao-naver > a:last-of-type > img {
  height: 27px;
  width: 27px;
  fill: #ffffff;
  margin-right: 3px;
}

.email-login {
  display: flex;
  flex-direction: column;
}

.email-login div:first-of-type {
  font-weight: 700;
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #ffffff;
}

.email-login > input {
  height: 56px;
  padding: 15px 10px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  outline: none;
}

.email-login > input::placeholder {
  color: #ffffff;
}

.email-login > input:first-of-type {
  margin-bottom: 10px;
}

.find {
  text-align: right;
  font-size: 13px;
  margin: 8px 0 25px 0;
}

.find > a {
  text-decoration: none;
}

.find > a:visited {
  color: #ffffff;
}

.find > a:first-of-type {
  margin-right: 15px;
}

.login-btn {
  color: #fff;
  width: 370px;
  height: 56px;
  background-color: #396661;
  border-radius: 10px;
  border: 1px solid #396661;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  cursor: pointer;
}

.join {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  
}

.join > a {
  text-decoration: none;
  font-weight: 600;
}

.join > a:visited {
  color: #B7C06D;
}