.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 80px);
  margin-top: 80px;
  padding: 60px 0;
  font-size: 20px;
}

.wrap-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 370px;
}

input {
  padding: 0 10px;
  font-size: 1rem;
  width: 370px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #ACACA9;
  background-color: transparent;
  color: #191919;
  outline: none;
  margin-bottom: 5px;
}

label {
  color: #191919;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 30px;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;
}

.email > input {
  /* 변경 불가 상태 */
  background-color: #F5F5F7;
}

.certify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
}

.certify-btn {
  width: 130px;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #49680D;
  background-color: #49680D;
  margin-bottom: 5px;
}

.password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;
}

.address-code {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
}

.address-code > input {
  width: 222px;
}

.address-default {
  display: flex;
  align-items: flex-start;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #191919;
}

.address-default > input {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border: 1px solid #ACACA9;
  background-color: transparent;
  border-radius: 3px;
}

.nickname {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;
}

.tel {
  margin-bottom: 25px;
}

.tel > input:last-of-type {
  background-color: #F5F5F7;
}

.btns {
  display: flex;
  justify-content: space-between;
  width: 370px;
}

.modify-btn {
  width: 173px;
  height: 56px;
  color: #ffffff;
  background-color: #49680D;
  border: 1px solid #49680D;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.cancel-btn {
  width: 173px;
  height: 56px;
  color: #191919;
  background-color: transparent;
  border: 1px solid #49680D;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}