.footer {
  width: 100%;
  height: auto;
  background-color: #b7c06d;
  display: flex;
  align-items: center;
  padding: 20px 100px;
  flex-direction: column;
  color: #191919;
}

.footer div {
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  text-align: left;
}

.footer h4 {
  width: 100%;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
  text-align: left;
  color: #49680d;
}

.footer-customCenter {
  font-size: 18px;
  margin: 10px 0;
}

.footer-customCenter > span {
  font-weight: 900;
  color: #49680d;
}

.footer-mallInfo {
  margin: 5px;
}

.footer-mallInfo span {
  color: rgba(255, 255, 255, 0.8);
}

.footer-copy {
  margin-top: 50px;
}

@media (min-width: 751px) and (max-width: 1020px) {
  .footer {
    width: 1020px;
  }
}

@media (max-width: 750px) {
  .footer {
    width: 750px;
  }

  .footer p {
    font-size: 10px;
  }

  .footer h4 {
    font-size: 18px;
  }

  .footer-nums {
    font-size: 20px;
  }
}
