.main-first {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(68, 67, 67, 0.7)),
    url('../../assets/main_first.jpg');
  height: 370px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-blend-mode: darken;
  margin-top: 80px;
}

.main-first .text-box {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-first .text-box > p {
  color: whitesmoke;
  /* font-size: 2rem; */
  font-size: 34px;
  line-height: 40px;
}

.main-first .text-box > p:first-of-type {
  font-weight: 200;
}

.main-first .text-box > p:last-of-type {
  font-weight: 700;
}

.main-second {
  margin: 10rem 0;
  padding: 0.7rem;
  /* font-size: 1.6rem; */
  font-size: 26px;
  line-height: 30px;
  text-align: center;
}

.main-second > p:first-of-type {
  font-weight: 500;
}

.main-second > p:last-of-type {
  font-weight: 900;
}

.main-third {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(68, 67, 67, 0.7)),
    url('../../assets/main_second.jpg');
  height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-blend-mode: darken;
  margin-top: 80px;
}

.main-third .text-box {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-third .text-box > p {
  color: whitesmoke;
  /* font-size: 1.7rem; */
  font-size: 30px;
  line-height: 40px;
}

.main-third .text-box > p:nth-child(1), .main-third .text-box > p:nth-child(2) {
  font-weight: 300;
}

.main-third .text-box > p:nth-child(3), .main-third .text-box > p:nth-child(4) {
  font-weight: 900;
}

.main-fourth {
  width: 90%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  border-top: 1px solid #464C3A;
  border-bottom: 1px solid #464C3A;
}

.main-fourth .text-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* font-size: 1.2rem; */
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.service-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.service-one-text {
  background-color: #F5F5F7;
}

.service-one-img {
  /* background-image: url('../../assets/main-service-one.png'); */
  width: 490px;
  height: 260px;
}

.service-two {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.service-two-text {
  background-color: #F5F5F7;
  width: 490px;
  height: 260px;
}

.service-two-img {
  /* background-image: url('../../assets/main-service-two.png'); */
  width: 490px;
  height: 260px;
}


.farmer-join {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  font-size: 1.2rem;
  font-weight: 700;
  gap: 1.8rem;
}

.farmer-join-text {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  /* font-size: 25px; */
  line-height: 30px;
  font-weight: 500;
}

.farmer-join-btn {
  margin-right: 2rem;
  flex: 1;
  align-items: flex-start;
}

.join-btn {
  color: #fff;
  width: 200px;
  height: 45px;
  background-color: #858a57;
  border-radius: 10px;
  border: 1px solid #858a57;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
