.container {
  width: 90%;
  margin-top: 150px;
  margin: 150px auto 0px auto;

  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.request-box {
  width: 90%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 24px;
  border: 3px solid #75786C;
  background: #FEFCF4;

  font-weight: 700;
}

.warning-text {
  text-align: center;
  width: 600px;
  margin-bottom: 30px;
  padding: 5px;

  border-radius: 5px;
  border: 1px solid #000;
  background: #FEFCF4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.request-content {
  margin-left: 70px
}

.request-content p:not(:first-of-type) {
  margin-left: 50px
}

.request-content span {
  font-weight: 400;
}

.request-btn {
  text-align: center;
  margin-right: 30px;
}

.request-btn button {
  text-align: center;
  width: 200px;
  height: 55px;
  margin: 15px 15px 25px 15px;

  border-radius: 10px;
  background: #49680D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color: #FFF;
  font-size: 20px;
  font-weight: 700;
}

.request-btn p {
  margin: 0;
}

.a {
  font-size: 20px;
  color: #FFF;
}